/*Colors
pink: #ef558d
maroon: #620f34
orange: #f78f1f
green: #65bc47
*/
/*Site Wide Styles*/

:root{
    --pink: #ef558d;
    --white: white;
    --maroon: #620f34;    
    --orange: #f78f1f;
    --green: #65bc47;
    --black: black;
}

h1,h2,h3,h4, p{
    font-family: 'Nunito Sans', sans-serif;
}

.logo {
    padding: 20px;
 }

 @media screen and (max-width:800px) {
    .logo {
        display: block;
        margin: auto;
    }
     nav ul li{
            flex: 1;
    }

 }

/*Footer*/
footer {
    background-color: var(--pink);
    color: var(--white);
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
footer h4 {
    font-weight: 800;
}
.social-logo {
    padding: 10px;
 }
 .resources a {
    color: var(--white)
 }

/* Nav Styles */
.menu-hide, .menu-show{
    display: none;
    background-color: var(--pink);
    border: 1px var(--pink);
    margin: auto 0;
    
}
.menu-hide.showing, .menu-show.showing {
    display: block;
    margin: auto;
    color: var(--white);
    font-family: 'Nunito Sans', sans-serif;
   }
#nav-menu {
    display: none;
   }
#nav-menu.showing {
    display: flex;
   }
nav li a:hover {
    background-color: var(--orange);
    color: var(--white);
}
.active {
    background-color: var(--white);
    color:  var(--pink);
    text-decoration-line: underline;
}

nav ul {
    padding-inline-start: 0px;
    display: flex;
    flex-direction: column;
    font-family: 'Nunito Sans', sans-serif;
}
nav ul li a {
    list-style-type:none;
    display: block;
    width: 100%;
    text-align: center;
    background-color: var(--pink);
    padding: 15px 0px 15px 0px;
    text-decoration: none;
    color: var(--white);
}

/*Home Page*/
.main-heading {
    text-align: center;
    color: var(--maroon);
}
.hero {
    display: grid;
    align-items: center;
    justify-items: center;
    position: relative;
}
#hero-image img {
    width: 100%;
    height: auto;
 }

.cards {
    background-color: var(--maroon);
    color: var(--white);
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    padding: 0px 20px;
    text-align: center;
    padding-bottom:20px;
}
.cards img {
    padding-top: 20px;
    max-height: 5rem;
}
.order-button button {
    border-radius: 50px;
    font-family: 'Nunito Sans', sans-serif;
    color: var(--pink);
    background-color: var(--white);
    border: none;
    font-size: 1rem;
    font-weight:800;
    padding: 20px;
}
.hero .order-button {
    display: flex;
    position: absolute;
    text-decoration: none;
    top: 70px;
}
.order-button:hover {
    color: blue;
}

.forecast {
        background-color: var(--orange);
        color: var(--white);
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
        padding: 0px 20px;
        text-align: center;
        margin-bottom: 30px;
        padding-bottom:20px;
}
.forecast h3, .cards h3 {
    padding-top: 20px;
    text-decoration-line: underline;
    }

    /* Order Page*/
    #order-form {
        background-color: var(--orange);
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 800;
        color: var(--white);
    }
    #order-form fieldset {
        border: none;
        padding: 20px;
        margin-bottom: 50px;
    }
    #order-form input {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
      
    }
    #order-form button {
        border-radius: 50px;
        font-family: 'Nunito Sans', sans-serif;
        color: var(--pink);
        background-color: var(--white);
        border: none;
        font-size: 1rem;
        font-weight:800;
        padding: 20px;
    }

    /* About */
    .about-cta {
        background-color: var(--maroon);
        color: var(--white);
        padding: 30px;
        text-align: center;
    }
    .about-cta p {
        padding-bottom: 50px;
    }
    #google-map {
        margin: 20px 0px;
        max-width: 100%;
    }
    #main-about {
        text-align: center;
    }
/* Order*/


#order-table {
    font-family: 'Nunito Sans', sans-serif;
    max-width: 500px;
    background-color: var(--pink);
    padding: 20px;
}
#confirm-nutrition{
    font-family: 'Nunito Sans', sans-serif;
    max-width: 500px;
    background-color: var(--orange);
    padding: 20px;
    margin: 30px 0px;
}