@media screen and (min-width:1000px) {

/*Nav Styles*/
header {
   position: relative;
 }
nav ul {
    flex-direction: row;
    list-style-type: none;
 }
 .menu-show, .menu-hide, .menu-hide.showing, .menu-show.showing {
    display: none;
   }
#nav-menu {
   position: absolute;
   top: 1rem;
   right: 2rem;
   display: flex;

}

nav li a {
   text-decoration: none;
   font-family: 'Nunito Sans', sans-serif;
   padding: 10px;
   color: var(--black);
   background-color: white;
}
nav ul li a {
   background-color: var(--white);
   color: var(--black);
   margin: 20px;
}

/*Home page*/
#hero-image img {
   width: 100%;
   height: auto;
}
.order-button button {
   border-radius: 50px;
   font-size: 2rem;
   padding: 50px;
}
.grid-container {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 50px;
}
.icons {
max-width: 800px;
margin: auto;

}

#iconsContainer {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
}

/*footer*/
footer {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 50px;
}
.footer-logo {
   margin: auto;
}
.social-logo {
   padding-right: 20px;
}

/*About*/
.about-grid {
   display: grid;
   grid-template-columns: 1fr 2fr;
   grid-gap: 50px;
   margin: 30px

}
.about-cta button{
   font-size: 1.5rem;
   padding: 30px;
        
}
.about-info {
   text-align: left;
}
}