#hero-image img {
    width: 100%;
    height: auto;

}
footer {
    background-color: #006D77;
    padding: 20px 0px;
    text-align: center;
    color: #EDF6F9;
}
.home-section {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

header h1 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #2D3442ff;
    font-size: 3rem;
    margin: 0px 10px 0px 10px;
}
header h2 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #3CB8CDff;
    font-size: 3rem;
}
body {
   background-color: #E8F5F9ff;
}
h2 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #1E6E34ff;
    font-size: 2rem;
}
p, ul {
    font-family: 'Roboto', sans-serif;
    color: #2D3442ff;
}
footer {
    background-color: #F67A26;
}
#spotlights li {
    background-color: #2D3442ff;
    list-style-type: none;
    padding: 20px;
    margin-bottom: 10px;
    color: white;
}

.menu-hide, .menu-show{
    display: none;
    background-color: #83C5BE;
    border: 1px #006D77;
    margin: .5rem 0 0 .5rem
}
.menu-hide.showing, .menu-show.showing {
    display: block;
   }
#nav-menu {
    display: none;
   }
#nav-menu.showing {
    display:flex;
   }

   nav ul li{
    flex: 1;
}
nav ul {
    padding-inline-start: 0px;
    display: flex;
    flex-direction: column;
}
nav ul li a {
    list-style-type:none;
    display: block;
    width: 100%;
}

nav a:hover {
    background-color: #F44E3Aff;

}
#dark-mode {
    position: absolute;
    top: 1rem;
    right: 2rem;
    background-color: var(--background-color);
}

.hero {
    position: relative;
}

.hero h2 {
    position: absolute;
    top: 0px;
    left: 10%;
    background-color: #1E6E34ff;
    color: white;
    padding: 0.5rem;
    font-size: 1.5rem;
}

.hero h2::before {
    content: "Small ";

}

/*$cinnabar: #F44E3Aff;
$dark-spring-green: #1E6E34ff;
$azure-web: #E8F5F9ff;
$moonstone: #3CB8CDff;
$gunmetal: #2D3442ff;
$pumpkin: #F67A26ff;*/

