:root{
    --text-color: #2D3442ff;
    --background-color: #E8F5F9ff;
    --hover-background-color: #F44E3Aff;    
    --hover-color: #2D3442ff;
    --heading-color: #1E6E34ff;
    --h1-color: #2D3442ff;
}

/*$cinnabar: #F44E3Aff;
$dark-spring-green: #1E6E34ff;
$azure-web: #E8F5F9ff;
$moonstone: #3CB8CDff;
$gunmetal: #2D3442ff;
$pumpkin: #F67A26ff;*/

/* Header styles */

header{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

header h1 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: var(--h1-color);
    font-size: 3rem;
    padding-left: 1.5rem;
}
header img{
    display: flex;
    position: relative;
    align-items: center;
}

/* Footer Styles */
footer {
    background-color: #F67A26;
    padding: 20px 0px;
    text-align: center;
    color: var(--text-color);;
}

/* Homepage Styles */

#hero-image img {
    width: 100%;
    height: auto;

}
.home-section {
    margin: auto;
    padding: 20px;
    text-align: center;

}
#current-events li {
    text-decoration: none;
}
body {
   background-color: #E8F5F9ff;
}
h2 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: var(--heading-color);
    font-size: 2rem;
}
p, ul {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
}
#spotlights {
    display: block;
    position: relative;
    align-items: center;
    justify-content: center;
}

.spotlight-card {
    background-color: #2D3442ff;
    list-style-type: none;
    padding: 20px;
    margin: 0px 10px 10px 10px;
    color: white;
    text-align: center;
}
.spotlight-card p {
    color: white;
}


.menu-hide, .menu-show{
    display: none;
    background-color: #83C5BE;
    border: 1px #006D77;
    margin: .5rem 0 0 .5rem
}
.menu-hide.showing, .menu-show.showing {
    display: block;
   }
#nav-menu {
    display: none;
   }
#nav-menu.showing {
    display:flex;
   }

   nav ul li{
    flex: 1;
}
nav ul {
    padding-inline-start: 0px;
    display: flex;
    flex-direction: column;
}
nav ul li a {
    list-style-type:none;
    display: block;
    width: 100%;
}

nav a:hover {
    background-color: #F44E3Aff;

}
#dark-mode {
    position: absolute;
    top: 1rem;
    right: 2rem;
    background-color: var(--background-color);
    color: var(--text-color);
}
button #dark-mode {
    display: none;
    font-size: 1px;
}

.hero {
    position: relative;
}

.hero h2 {
    position: absolute;
    top: 0px;
    left: 10%;
    background-color: #1E6E34ff;
    color: white;
    padding: 0.5rem;
    font-size: 1.5rem;
}

.hero h2::before {
    content: "Small ";

}


#weather {
    text-align: center;
    max-width: 200px;
    background-color: #3CB8CDff;
}
#weather h2 {
    color: #2D3442ff;
}

/*form styles */
#membership-level {

width: 1rem;


}

h3, h4, h5, h6 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

input {
    display: block;
    padding:.5rem;
    font-size: 1.1rem;
    width: 30rem;
}
label {
    display: block;
    margin: .5rem 0;
    
}

button {
    font-size: 1.5rem;
    color:aliceblue;
    background-color: #83C5BE;
    padding: 0.5rem;
    margin: 1rem 0;
}
input:valid{
    box-shadow: 3px 3px 3px black;
}

input:invalid{
    box-shadow: 3px 3px 3px red;
}
/*end form styles*/

#main-thankyou {
    max-width: 800px;
    margin: auto;
    text-align: center;
}

.join {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
}


/* Directory Page Stuff */
.directory-main{
    width: 100%;
}

#directory-selector{
    width: 100%;
    text-align: center;
}

#directory-selector button{
    padding: 1rem;
    margin: .5rem;
    border-radius: 5px;
   /* background-color: var(--body-bg-color);
    border: 1px black solid;*/
}

#directory-selector button.active{
    /*background-color: var(--hover-background-color);*/ 
}

/* Cards view */

.directory-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    justify-items: center;
}

.directory-cards section{
    text-align: center;    
    border: 2px solid grey;    
    width: 300px;
    background-color: var(--menu-bg-color);
    background-color: #2D3442ff;
    padding: 1rem;
    margin: .5rem;
}

.directory-cards section{
    box-shadow: .5rem .5rem .5rem var(--hover-background-color);
}


.directory-cards .gold-member{
    box-shadow: .5rem .5rem .5rem darkgray;
}

.directory-cards .card-button{
    text-decoration: none;
    color: white;
    background-color: var(--hover-background-color);
    padding: .5rem;
    border-radius: 5px;
}

/* List View */

.directory-list{    
    display: grid;    
    justify-items: center;   
    padding: 1rem;    
}

.directory-list section img{
    display: none;
}

.directory-list section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 70%;
    padding-left: 1rem;
    padding-right: 1rem;
}

.directory-list .card-button{
    text-decoration: underline;
    color: black;    
}


.directory-list section:nth-child(odd) {
    background-color: var(--background-color);
}

.directory-list section:nth-child(even) {
    background-color: var(--hover-background-color)
}


#meetgreet {
    display: none;
    background-color: #1E6E34ff;
    padding: 20px;
    color: white;
    text-align: center;
  }

  #close-greet {
    display: flex;
    float: right;
  }
  