@media screen and (min-width:600px) {
    #hero-image img {
        width: 100%;
        height: auto;
    
    }

    .hero h2::before {
        content: "Medium ";
    }


    #spotlights {
        display: block;
        position: relative;
        align-items: center;
        justify-content: center;
    }

    #weather {
        max-width: 300px;
    }
}